body{
text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    color: darkblue;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
}
header nav ul li a:hover {
    color: #ff9900; /* highlight on hover */
}